extends layout

block content
    h1= title
    form#formAddUser(name="adduser",method="post",action="/adduser")
        input#_id(type="text", placeholder="userid", name="_id")
        input#ct(type="text", placeholder="country", name="ct")
        input#pr(type="text", placeholder="product", name="pr")
        input#data(type="text", placeholder="data", name="data")
        button#btnSubmit(type="submit") submit