extends layout

block content
    h1.
        User List
    ul
        each user, i in userlist
            li
                p #{user._id}
                p #{user.ct}
                p #{user.pr}
                p #{user.data}